@font-face {
    font-family: "Poppins";
    src: url("./assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Poppins";
    src: url("./assets/fonts/Poppins/Poppins-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Poppins";
    src: url("./assets/fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Poppins";
    src: url("./assets/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}



* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0 2rem;
}
header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.cards-container{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    gap:1.5rem;
    padding:0;
}
.card-item{
    display:flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 1rem;
    align-content: flex-start;
    box-shadow: 4px 4px black;
    padding:0;
    h1{
        font-size: 1.5rem;
        border-bottom: 1px solid aqua;
        padding: 1rem;
    }
    h2{
        font-size: 1rem;
        font-weight: normal;
        opacity:0.4;
        padding: 0 1rem;
        margin:0;
    }
    article{
        margin-bottom:auto;
        padding: 1rem;
    }
    .card-item-bottom{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap:2rem;
        padding:1rem;
        font-size: 0.8rem;
        .card-item-category{
            padding:0.5rem 1rem;
            border: 1px solid black;
            border-radius: 50px;
        }
        progress{
            width: 80px;
            margin:0;
        }
    }

}

form{
    display:flex;
    flex-direction: column;
    padding: 2rem;
    border: 1px solid black;
    border-radius: 1rem;
    align-content: center;
    box-shadow: 4px 4px black;
    margin-bottom: 2rem;
    * {
        margin-bottom: 1rem;
        padding:0;
    }
    input{
        padding:0.5rem 1rem;
        border-radius: 0.375rem;
         #cardAnswwer{
            height:150px;
        }
    }
    button{
        border: 1px solid black;
        border-radius: 50px;
        width: 150px;
        font-size: 1rem;
        padding: 0.2rem 0.4rem;
        margin-bottom:0;
    }
}
