@font-face {
    font-family: "Poppins";
    src: url("./assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Poppins";
    src: url("./assets/fonts/Poppins/Poppins-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Poppins";
    src: url("./assets/fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Poppins";
    src: url("./assets/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}



* {
    font-family: "Poppins", sans-serif;
}
body{
    padding: 0 2rem;
}
header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:0;
    * {
        padding:0;
    }
    button{
        padding: 0.25rem 1rem;
        border: 1px solid black;
        color: black;
        border-radius: 40px;
        background-color: white;
    }
    .buttons{
        border: 2px solid black;
        border-radius: 40px;
        padding: 0.05rem;
        box-shadow: 4px 4px black;
    }
    .not-selected-btn{
        border: none;
    }
    .selected-btn{
        background-color: #F8CB46;
    }

}
/*
    For anything else
*/
.shadow{
    box-shadow: 4px 4px black;
    border: 1px solid black;
    border-radius: 3.125rem;
}
.corner{
    border-radius: 1rem;
}
/*For AllCards Layout*/
form{
    display:flex;
    flex-direction: column;
    padding: 2rem;
    border: 1px solid black;
    border-radius: 1rem;
    align-content: center;
    box-shadow: 4px 4px black;
    margin-bottom: 2rem;
    * {
        margin-bottom: 1rem;
        padding:0;
    }
    input{
        padding:0.5rem 1rem;
        border-radius: 0.375rem;

    }
    textarea#cardAnswer{
        height: 150px;
        margin: 0;
        text-align: left;
        resize: none;
        line-height: 1.2;
        box-sizing: border-box;
        padding: 0.5rem 1rem;
        border-radius: 0.375rem;
        border: 1.5px solid black;
    }
    button{
        border: 1px solid black;
        border-radius: 50px;
        width: 150px;
        font-size: 1rem;
        padding: 0.2rem 0.4rem;
        margin-bottom:0;
        &.create-btn{
            font-weight: bold;
            background-color: #F8CB46;
            &:before{
                content: "";
                display: inline-block;
                width: 1em;
                height: 1em;
                margin-right: 0.2rem;
                background: url("./assets/images/icon-circle-plus.svg");
                vertical-align: middle;
            }
        }
    }
}
.cards-container{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    gap:1.5rem;
    padding:0;
    .card-item{
        display:flex;
        flex-direction: column;
        border: 1px solid black;
        border-radius: 1rem;
        align-content: flex-start;
        padding:0;
        h1{
            font-size: 1.5rem;
            border-bottom: 1px solid black;
            padding: 0 1rem 0.2rem 1rem ;
        }
        h2{
            font-size: 1rem;
            font-weight: normal;
            opacity:0.4;
            padding: 0 1rem;
            margin:0;
        }
        article{
            margin-bottom:auto;
            padding: 1rem;
        }
        .card-item-bottom{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap:1rem;
            padding:1rem;
            font-size: 0.8rem;
            .card-item-category{
                padding:0.5rem 1rem;
            }
            progress{
                width: 80px;
                margin:0;
            }
            .card-item-value{
                margin:0;
                padding:0;
            }
            .card-item-menu-btn{
                margin-left:auto;
                background-color:white;
                border:none;
            }
        }

    }
}
/*For Study Mode Layout*/
.study-mode{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    height:80vh;
    gap: 2rem;
}
.study-mode > *{
    padding:2rem;

}
.study-mode .flashcard{
    grid-column: 1/3;

    padding:0;
    overflow: hidden;
}
.study-mode .flashcard {
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 0; /* important in grid/flex to allow children to size properly */
}


.study-mode .flashcard .header{
    /*height:5rem;*/
    /*background-color: blue;*/
    display:flex;
    border-bottom: 2px solid black;
    padding:0.4rem 1.2rem;
    align-items: center;
}
.study-mode .flashcard .header :last-child{
    margin-left:auto;
}
.study-mode .flashcard .header button{
    font-size: 1rem;
    border-radius:4rem;
    padding:0.5rem;
}
.study-mode .flashcard .header .shuffle-button{
    padding: 0.5rem 1rem;
}
.study-mode .flashcard .header .shuffle-button:before{
    content: "";
    margin-right: .5rem;
    display: inline-block;
    width: 1em;
    height: 1em;
    background: url("./assets/images/icon-shuffle.svg");
    vertical-align: middle;
}

/* your content area must allow children to stretch */
.study-mode .flashcard .content {
    flex: 1 1 auto;
    min-height: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.hidden-style,
.revealed-style {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    min-height: 0;
    padding: 2rem;
    text-align: center;
    margin:2rem;
    border-radius: 1rem;
    border: 1px solid black;
}
.revealed-style {
    background-color: #92ADEB;
}
.hidden-style {
    background-color: #FC8AE5;
}

.hidden-style .main,
.revealed-style .main {
    flex: 1 1 auto;
    min-height: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.hidden-style .category,
.revealed-style .category {
    align-self: center;
    margin:1rem;
}
.hidden-style .progress,
.revealed-style .progress {
    margin-top: auto;
    padding-bottom: 1rem;
}

.study-mode .flashcard .content-buttons{
    text-align: center;
}
.study-mode .flashcard .content-buttons button{
    background-color: white;
}

.study-mode .flashcard .footer{
    padding:2rem;
    display: flex;
    justify-content: space-between;

}

.study-mode .flashcard .footer button{
    background-color: white;
    font-size: 1.2rem;
    padding:0.5rem 1.2rem;
}

.study-mode .statistics{
    /*background-color:#F8CB46;*/
    /*display:grid;*/
    /*grid-template-rows: 4rem auto;*/
    display:flex;
    flex-direction: column;
    gap: 2rem;
}
.study-mode .statistics h1{
    margin:0
}
.study-mode .statistics .data-container{
    border: 1px solid black;
    border-radius: 1rem;
    height:100%;
    padding:1rem;
}
.study-mode .statistics .data-container h1{
    margin: 0;
    font-size: 3rem;
}
